{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="alert alert-warning"><i class="icon-warning-sign"></i> The password for this user has already been requested within the last 24 hours.</div>
    </div>
{% endblock %}
