{% extends '::base.html.twig' %}
{% block body %}
    <div class="container gw-padding-top-btm">
        {{ block('fos_user_content')}}
        {#<div class="row">
            <div class="col-md-10 col-md-offset-1">
                
            </div>
        </div>#}
    </div>
{% endblock %}