<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <div class="pull-left sm">
                        <ul class="list-inline header-link sm">
{#                            <li><a href="{{ path('TrackerTrackBundle_terms_of_service') }}">Terms of Service</a></li> |#}
{#                            <li><a href="{{ path('TrackerTrackBundle_privacy_policy') }}">Privacy Policy</a></li> |#}
{#                            <li><a href="{{ path('TrackerTrackBundle_sitemap') }}">Sitemap</a></li> |#}
{#                            <li><a href="{{ path('TrackerTrackBundle_contact') }}">Contact us</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <ul class="list-inline header-link sm">
                            <li>&copy; panappai.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-height-sm"></div>
    </div>
</footer>