{% block form_row %}
    {% if form_errors(form) %}
        <div class="alert alert-danger">{{ form_errors(form) }}</div>
    {% endif %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form, '', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
            <div class="col-sm-8">
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}